body{
    background-color: #A4B494;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
input{
    background-color: aliceblue;
    width: 120px;
    height: 30px;
}